:root {
  --main-color: #66ff00;

  --default-bg-color: #0c0c0c;
  /* --default-white-bg-color: #ddd; */
  --bg-gradient: #000, #12470e, #111;

  --ctn-default-bg-color: #121310;
  --ctn-bg-gradient: rgba(12, 13, 10, 0.1);

  /* --nav-gradient: rgba(12, 13, 10, 0.5);   */
  --nav-gradient: rgba(4, 4, 4, 0.8);

  --text-sub: 3.3rem;
  --text-md: 1.5rem;
  --text-min: 1.3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  border: none;
  background-color: #20412466;
  height: 1px;
  width: 100%;
  margin: 0 auto;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  background-image: -webkit-linear-gradient(top, var(--bg-gradient));
  background-color: var(--default-bg-color);
  scroll-behavior: smooth;
}

.dn {
  opacity: 0;
}

/* main container */
.ctn {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--ctn-default-bg-color);
  background-color: var(--ctn-bg-gradient);
  border-radius: 10px;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #FFF;
}

@media screen and (max-width: 868px) {
  .nav-ctn {
    width: 100%;
  }

  .menu-ctn > a {
    display: none;
  }

  .menu-ctn > i {
    display: block;
    margin-right: 15px;
  }
}


/* Navbar */
.nav-ctn {
  display: block;
  background-color: var(--nav-gradient);
  padding: 5px 0px;
  margin: 0px;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}

.nav-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  color: var(--main-color);
}

.menu-ctn>a:hover {
  text-decoration: underline;
  transition: all 2s;
  cursor: pointer;
}

/* logo */
.logo-ctn {
  font-size: 18px;
  font-family: monospace;
  margin-left: 15px;
}

.logo-ctn span {
  color: var(--main-color);
}

.logo-ctn a {
  color: #fff;
}

/* menu */
.menu-ctn {
  margin-right: 15px;
  position: relative;
}

.menu-ctn a {
  margin: 10px;
  color: var(--main-color);
  font-weight: bold;
}

.sidebar {
  background-color: var(--main-color);
  margin: 0;
  width: 600px;
  height: 700px;
  position: absolute;
  top: -40px;
  right: -15px;
  border: 2px solid #0c1a01;
  border-radius: 8px;
  transition: transform 1s ease;
  transform: translateY(35px);
}

.close-sidebar {
  text-align: end;
  font-weight: bold;
  margin-top: 50px;
  margin-right: 10px;
}

.sidebar i {
  color: #000;
  font-weight: bold;
  font-size: 40px;
  padding: 20px 10px;
  margin-right: 10px;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
  font-size: 50px;
  font-weight: bold;
}

.sidebar-menu a {
  margin: 20px 0px;
  color: #000;
}

.sidebar-menu a:hover {
  color: #083f01;
  text-decoration: underline;
}

/* INTRO */
.intro-ctn {
  margin: 90px 20px;
  color: #ddd;
}

.intro-ctn .sm-text {
  font-size: 1.6rem;
  color: var(--main-color);
}

.intro-ctn span {
  color: var(--main-color);
}

.intro-ctn h1 {
  font-size: 5.8rem;
}

.desc-ctn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desc-ctn {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 5px;
}

.intro-ctn .desc {
  font-size: var(--text-md);
  font-weight: 500px;
  text-align: justify;
  width: 800px;
}

.animation-ctn {
  /* border: 1px solid pink; */
  margin: 0px 30px 0px 80px;
}

@media screen and (max-width: 868px) {
  .intro-ctn {
    width: 95%;
  }

  .intro-ctn>h1 {
    margin-bottom: 50px;
  }

  .desc-ctn {
    flex-direction: column;
    width: 95%;
    margin: 0px auto 250px auto;
  }

  .intro-ctn .desc {
    width: 90%;
    font-size: 2.5rem;
    margin-bottom: 60px;
  }

  .animation-ctn {
    display: none;
  }

  .logo-ctn {
    font-size: 2.5rem;
  }

  .menu-ctn > i {
    font-size: 3.2rem;
  }
}

/* ABOUT */
.about-ctn {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}

.about-text {
  color: #ddd;
  width: 680px;
  width: 60%;
  margin-right: 30px;
}

.about-text h2,
span {
  color: var(--main-color);
  margin-bottom: 20px;
}

.about-text h2 {
  font-size: var(--text-sub);
}

.about-text span {
  font-size: var(--text-md);
}

.about-text p {
  margin-bottom: 25px;
  font-size: var(--text-md);
  text-align: justify;
}

.about-ctn img {
  margin-left: 20px;
  box-shadow: 10px 10px 1px #29630279;
}

.social-ctn {
  margin-top: 90px;
  display: block;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  font-size: 26px;
  margin: 2rem;
}

.social-icons .linkedin:hover {
  color: #0e76a8;
  transition: all 0.1s ease-in;
}

.social-icons .github:hover {
  color: #0f0e0e;
  transition: all 0.1s ease-in;
}

.social-icons .twitter:hover {
  color: rgb(29, 155, 240);
  transition: all 0.1s ease-in;
}

@media screen and (max-width: 868px) {
  .about-ctn {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0px;
    width: 100%;
  }

  .social-ctn>img {
    width: 500px;
    height: 450px;
  }

  .social-icons {
    font-size: 42px;
    margin-bottom: 50px;
  }

  .about-text {
    width: 90%;
  }

  .about-text p {
    font-size: 2.45rem;
  }

  .about-text > h2 {
    font-size: 4rem;
  }

  .about-text>span {
    font-size: 2.3rem;
  }
}

/* SKILLS */
.skills-ctn {
  margin: 80px 0 0 20px;
  color: var(--main-color);
}

.skills-ctn h2 {
  font-size: var(--text-sub);
  margin-bottom: 20px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 12fr);
  gap: 2rem;
  margin: 0 20px;
  font-size: 22px;
}

.skill-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #070707d5;
  color: var(--main-color);
  border: 1px solid #000;
  border-radius: 40px;
  gap: 0 1rem;
  padding: 16px;
  transition: all 0.5s ease-in-out;
  font-weight: bold;
  cursor: default;

  /* box-shadow: 2px 2px 7px #babbba; */
}

.skills-ctn .skills-grid .html:hover {
  background-color: #E34F26;
  color: #000;
}

.skills-ctn .skills-grid .css:hover {
  background-color: #264DE4;
  color: #000;
}

.skills-ctn .skills-grid .js:hover {
  background-color: #F7DF1E;
  color: #000;
}

.skills-ctn .skills-grid .react:hover {
  background-color: #61DAFB;
  color: #000;
}

.skills-ctn .skills-grid .bootstrap:hover {
  background-color: #6f42c1;
  color: #000
}

.skills-ctn .skills-grid .nextjs:hover {
  background-color: #bdbdbd;
  color: #000;
}

@media screen and (max-width: 868px) {
  .skills-ctn {
    width: 90%;
    margin: 150px auto;
  }

  .skills-ctn>h2 {
    margin-bottom: 40px;
  }

  .skills-ctn .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .skill-card {
    padding: 30px;
    font-size: 32px;
  }
}


/* PROJECTS */
.projects-ctn {
  margin: 160px 20px 100px 20px;
}

.projects-ctn h2 {
  font-size: var(--text-sub);
  margin-bottom: 20px;
  color: var(--main-color);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.project-card {
  border: 1px solid #66ff0088;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.project-card:hover {
  box-shadow: 2px 2px 8px black;
}

.project-card .project-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-top: 15px;
}

.project-card .folder-icon {
  font-size: 20px;
  color: #FFCC17;
}

.project-header .sm-icons {
  display: flex;
  gap: 0 5px;
}

.project-card .sm-icons a {
  margin-right: 5px;
  font-size: 22px;
  cursor: pointer;
  transition: all .5s ease;
}

.project-card .sm-icons a:hover {
  color: #FFCC17;
}


.project-card h3 {
  color: var(--main-color);
  font-size: 20px;
  margin-bottom: 10px;
}

.project-card p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #dad8d8;
}

.project-card span {
  font-size: 13px;
  margin-bottom: 10px;
  color: #9c9c9c;
  position: absolute;
  bottom: -2px;
}

@media screen and (max-width: 868px) {
  .projects-ctn {
    width: 95%;
  }

  .projects-ctn>h2 {
    margin-left: 50px;
  }

  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .project-card {
    width: 90%;
    margin: 0 auto;
  }

  .project-card > img {
    margin: 0 240px;
    padding: 16px;
    width: 500px;
    height: 300px;
  }

  .project-header {
    padding: 0px 20px;
  }

  .project-card .fa-regular {
    font-size: 39px;
  }

  .project-card .sm-icons a {
    font-size: 39px;
    margin: 0px 8px;
  }

  .project-card h3 {
    margin-top: 40px;
    font-size: 3rem; 
  }

  .project-card p {
    font-size: 2.5rem;
    padding: 14px;
    margin-bottom: 30px;
  }

  .project-card span {
    font-size: 1.7rem;
    margin: 30px 0px 20px 0px;
  }
}


/* CONTACT */
.contact-ctn {
  text-align: center;
  margin-top: 150px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact-ctn h2 {
  font-size: 40px;
  color: var(--main-color);
  margin-bottom: 20px;
}

.contact-ctn .ctt-p {
  color: #fff;
  text-align: center;
  font-size: 20px;
  width: 860px;
}

.contact-ctn button {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 180px;
  height: 50px;
  background-color: #0c0c0c;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
  transition: all 0.6s ease;
}

.contact-ctn button:hover {
  background-color: var(--main-color);
  color: #000;
}

.contact-ctn a {
  padding: 15px 55px;
  color: var(--main-color);
}

.contact-ctn a {
  padding: 15px 55px;
  color: inherit;
}

@media screen and (max-width: 868px) {
  .contact-ctn {
    width: 100%;
  }

  .contact-ctn > h2 {
    font-size: 60px;
    margin-top: 100px;
  }

  .contact-ctn .ctt-p {
    width: 100%;
  }

  .contact-ctn p {
    font-size: 2rem;
  }

  .contact-ctn button {
    margin-top: 80px;
    width: 30%;
    height: 80px;
  }
}

/* 26 30 */
.loadingspinner {
  --square: 60px;
  --offset: 80px;
  --duration: 4.4s;
  --delay: 0.2s;
  --timing-function: ease-in-out;
  --in-duration: 0.4s;
  --in-delay: 0.1s;
  --in-timing-function: ease-out;
  width: calc(3 * var(--offset) + var(--square));
  height: calc(2 * var(--offset) + var(--square));
  /* margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
  margin-bottom: 30px; */
  /* position: relative; */
}

.loadingspinner div {
  display: inline-block;
  background: var(--main-color);
  /*background: var(--text-color);*/
  /*box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);*/
  border: none;
  border-radius: 2px;
  width: var(--square);
  height: var(--square);
  position: absolute;
  padding: 0px;
  margin: 0px;
  font-size: 6pt;
  color: black;
}

.loadingspinner #square1 {
  left: calc(0 * var(--offset));
  top: calc(0 * var(--offset));
  animation: square1 var(--duration) var(--delay) var(--timing-function) infinite,
    squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square2 {
  left: calc(0 * var(--offset));
  top: calc(1 * var(--offset));
  animation: square2 var(--duration) var(--delay) var(--timing-function) infinite,
    squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square3 {
  left: calc(1 * var(--offset));
  top: calc(1 * var(--offset));
  animation: square3 var(--duration) var(--delay) var(--timing-function) infinite,
    squarefadein var(--in-duration) calc(2 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square4 {
  left: calc(2 * var(--offset));
  top: calc(1 * var(--offset));
  animation: square4 var(--duration) var(--delay) var(--timing-function) infinite,
    squarefadein var(--in-duration) calc(3 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square5 {
  left: calc(3 * var(--offset));
  top: calc(1 * var(--offset));
  animation: square5 var(--duration) var(--delay) var(--timing-function) infinite,
    squarefadein var(--in-duration) calc(4 * var(--in-delay)) var(--in-timing-function) both;
}

@keyframes square1 {
  0% {
    left: calc(0 * var(--offset));
    top: calc(0 * var(--offset));
  }

  8.333% {
    left: calc(0 * var(--offset));
    top: calc(1 * var(--offset));
  }

  100% {
    left: calc(0 * var(--offset));
    top: calc(1 * var(--offset));
  }
}

@keyframes square2 {
  0% {
    left: calc(0 * var(--offset));
    top: calc(1 * var(--offset));
  }

  8.333% {
    left: calc(0 * var(--offset));
    top: calc(2 * var(--offset));
  }

  16.67% {
    left: calc(1 * var(--offset));
    top: calc(2 * var(--offset));
  }

  25.00% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }

  83.33% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }

  91.67% {
    left: calc(1 * var(--offset));
    top: calc(0 * var(--offset));
  }

  100% {
    left: calc(0 * var(--offset));
    top: calc(0 * var(--offset));
  }
}

@keyframes square3 {

  0%,
  100% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }

  16.67% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }

  25.00% {
    left: calc(1 * var(--offset));
    top: calc(0 * var(--offset));
  }

  33.33% {
    left: calc(2 * var(--offset));
    top: calc(0 * var(--offset));
  }

  41.67% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  66.67% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  75.00% {
    left: calc(2 * var(--offset));
    top: calc(2 * var(--offset));
  }

  83.33% {
    left: calc(1 * var(--offset));
    top: calc(2 * var(--offset));
  }

  91.67% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }
}

@keyframes square4 {
  0% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  33.33% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  41.67% {
    left: calc(2 * var(--offset));
    top: calc(2 * var(--offset));
  }

  50.00% {
    left: calc(3 * var(--offset));
    top: calc(2 * var(--offset));
  }

  58.33% {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
  }

  100% {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
  }
}

@keyframes square5 {
  0% {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
  }

  50.00% {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
  }

  58.33% {
    left: calc(3 * var(--offset));
    top: calc(0 * var(--offset));
  }

  66.67% {
    left: calc(2 * var(--offset));
    top: calc(0 * var(--offset));
  }

  75.00% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  100% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }
}

@keyframes squarefadein {
  0% {
    transform: scale(0.75);
    opacity: 0.0;
  }

  100% {
    transform: scale(1.0);
    opacity: 1.0;
  }
}

/* Footer */
.wave-ctn {
  position: relative;
  overflow: hidden;
  height: 220px;
}

.wave-ctn>svg {
  display: block;
  /* stroke: rgb(9, 255, 0); */
}

.footer-ctn {
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  position: absolute;
  text-align: center;
  /* border: 1px dotted black; */
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.footer-inform {
  display: flex;
  justify-content: space-around;
  padding-top: 8px;
  height: 40px;
}

@media screen and (max-width: 868px) {
  .wave-ctn {
    height: 50%;
    margin-top: 120px;
  }

  .footer-inform {
    flex-direction: column;
    margin: 30px 0;
  }

  .footer-inform span {
    font-size: 20px;
  }
}