* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  border: none;
  background-color: #20412466;
  height: 1px;
  width: 100%;
  margin: 0 auto;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  background-image: -webkit-linear-gradient(top, #000, #12470e, #111);
  background-color: #0c0c0c;
  scroll-behavior: smooth;
}

.dn {
  opacity: 0;
}

/* main container */
.ctn {
  width: 1200px;
  margin: 0 auto;
  background-color: #121310;
  background-color: rgba(12, 13, 10, 0.1);
  border-radius: 10px;
  padding: 0px 5px 5px 5px;
}

a {
  text-decoration: none;
  color: #FFF;
}

/* Navbar */
.nav-ctn {
  display: block;
  background-color: #000;
  padding: 12px;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

.nav-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #66ff00;
}

.menu-ctn > a:hover {
  text-decoration: underline;
  transition: all 2s;
  cursor: pointer;
}

/* logo */
.logo-ctn {
  font-size: 18px;
  font-family: monospace;
}

.logo-ctn span {
  color: #66ff00;
}

.logo-ctn a {
  color: #fff;
}

/* menu */
.menu-ctn a {
  margin: 10px;
  color: #66ff00;
  font-weight: bold;
}

/* INTRO */
.intro-ctn {
  margin: 90px 20px;
  color: #ddd;
}

.intro-ctn .sm-text {
  font-size: 18px;
  color: #66ff00;
}

.intro-ctn span {
  color: #66ff00;
}

.intro-ctn h1 {
  font-size: 80px;
}

.desc-ctn {
  display: flex;
  justify-content: space-between;
}

.desc-ctn {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 5px;
}

.desc-ctn img {
  margin-right: 5%;
}

.intro-ctn .desc {
  font-size: 20px;
  font-weight: 500;
  text-align: justify;
  width: 550px;
  /* margin-top: 30px; */
}


/* ABOUT */
.about-ctn {
  display: flex;
  justify-content: flex-start;
  margin-top: 150px;
}

.about-text {
  color: #ddd;
  width: 680px;
  padding-left: 100px;
}

.about-text h2,
span {
  color: #66ff00;
  margin-bottom: 20px;
}

.about-text h2 {
  font-size: 40px;
}

.about-text span {
  font-size: 22px;
}

.about-text p {
  margin-bottom: 25px;
  font-size: 18px;
  text-align: justify;
}

.about-ctn img {
  margin-left: 20px;
  box-shadow: 10px 10px 1px #29630279;
}

.social-ctn {
  display: block;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  font-size: 26px;
  margin: 2rem;
}

.social-icons .linkedin:hover {
  color: #0e76a8;
  transition: all 0.1s ease-in;
}

.social-icons .github:hover {
  color: #0f0e0e;
  transition: all 0.1s ease-in;
}

.social-icons .twitter:hover {
  color: rgb(29, 155, 240);
  transition: all 0.1s ease-in;
}

/* SKILLS */
.skills-ctn {
  margin: 100px 0 0 20px;
  color: #66ff00;
}

.skills-ctn h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 12fr);
  gap: 2rem;
  margin: 0 20px;
  font-size: 22px;
}

.skill-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #070707d5;
  color: #66ff00;
  border: 1px solid #000;
  border-radius: 40px;
  gap: 0 1rem;
  padding: 16px;
  transition: all 0.5s ease-in-out;
  font-weight: bold;
  cursor: default;

  /* box-shadow: 2px 2px 7px #babbba; */
}

.skills-ctn .skills-grid .html:hover {
  background-color: #E34F26;
  color: #000;
}

.skills-ctn .skills-grid .css:hover {
  background-color: #264DE4;
  color: #000;
}

.skills-ctn .skills-grid .js:hover {
  background-color: #F7DF1E;
  color: #000;
}

.skills-ctn .skills-grid .react:hover {
  background-color: #61DAFB;
  color: #000;
}

.skills-ctn .skills-grid .bootstrap:hover {
  background-color: #6f42c1;
  color: #000
}

.skills-ctn .skills-grid .nextjs:hover {
  background-color: #bdbdbd;
  color: #000;
}


/* PROJECTS */
.projects-ctn {
  margin: 160px 20px 100px 20px;
}

.projects-ctn h2 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #66ff00;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.project-card {
  border: 1px solid #66ff0088;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.project-card:hover {
  box-shadow: 2px 2px 8px black;
}

.project-card .project-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-top: 15px;
}

.project-card .folder-icon {
  font-size: 20px;
  color: #FFCC17;
}

.project-header .sm-icons {
  display: flex;
  gap: 0 5px;
}

.project-card .sm-icons a {
  margin-right: 5px;
  font-size: 22px;
  cursor: pointer;
  transition: all .5s ease;
}

.project-card .sm-icons a:hover {
  color: #FFCC17;
}


.project-card h3 {
  color: #66ff00;
  font-size: 20px;
  margin-bottom: 10px;
}

.project-card p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #dad8d8;
}

.project-card span {
  font-size: 13px;
  margin-bottom: 10px;
  color: #9c9c9c;
  position: absolute;
  bottom: -2px;
}


/* CONTACT */
.contact-ctn {
  text-align: center;
  margin-top: 150px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact-ctn h2 {
  font-size: 40px;
  color: #66ff00;
  margin-bottom: 20px;
}

.contact-ctn .ctt-p {
  color: #fff;
  text-align: center;
  font-size: 20px;
  width: 860px;
}

.contact-ctn button {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 180px;
  height: 50px;
  background-color: #0c0c0c;
  border: 2px solid chartreuse;
  color: #66ff00;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
  transition: all 0.6s ease;
}

.contact-ctn button:hover {
  background-color: #66ff00;
  color: #000;
}

.contact-ctn a {
  padding: 15px 55px;
  color: #66ff00;
}

.contact-ctn a {
  padding: 15px 55px;
  color: inherit;
}


/* 26 30 */
.loadingspinner {
  --square: 60px;
  --offset: 80px;
  --duration: 4.4s;
  --delay: 0.2s;
  --timing-function: ease-in-out;
  --in-duration: 0.4s;
  --in-delay: 0.1s;
  --in-timing-function: ease-out;
  width: calc(3 * var(--offset) + var(--square));
  height: calc(2 * var(--offset) + var(--square));
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
  margin-bottom: 30px;
  position: relative;
}

.loadingspinner div {
  display: inline-block;
  background: #66ff00;
  /*background: var(--text-color);*/
  /*box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);*/
  border: none;
  border-radius: 2px;
  width: var(--square);
  height: var(--square);
  position: absolute;
  padding: 0px;
  margin: 0px;
  font-size: 6pt;
  color: black;
}

.loadingspinner #square1 {
  left: calc(0 * var(--offset));
  top: calc(0 * var(--offset));
  animation: square1 var(--duration) var(--delay) var(--timing-function) infinite,
    squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square2 {
  left: calc(0 * var(--offset));
  top: calc(1 * var(--offset));
  animation: square2 var(--duration) var(--delay) var(--timing-function) infinite,
    squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square3 {
  left: calc(1 * var(--offset));
  top: calc(1 * var(--offset));
  animation: square3 var(--duration) var(--delay) var(--timing-function) infinite,
    squarefadein var(--in-duration) calc(2 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square4 {
  left: calc(2 * var(--offset));
  top: calc(1 * var(--offset));
  animation: square4 var(--duration) var(--delay) var(--timing-function) infinite,
    squarefadein var(--in-duration) calc(3 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square5 {
  left: calc(3 * var(--offset));
  top: calc(1 * var(--offset));
  animation: square5 var(--duration) var(--delay) var(--timing-function) infinite,
    squarefadein var(--in-duration) calc(4 * var(--in-delay)) var(--in-timing-function) both;
}

@keyframes square1 {
  0% {
    left: calc(0 * var(--offset));
    top: calc(0 * var(--offset));
  }

  8.333% {
    left: calc(0 * var(--offset));
    top: calc(1 * var(--offset));
  }

  100% {
    left: calc(0 * var(--offset));
    top: calc(1 * var(--offset));
  }
}

@keyframes square2 {
  0% {
    left: calc(0 * var(--offset));
    top: calc(1 * var(--offset));
  }

  8.333% {
    left: calc(0 * var(--offset));
    top: calc(2 * var(--offset));
  }

  16.67% {
    left: calc(1 * var(--offset));
    top: calc(2 * var(--offset));
  }

  25.00% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }

  83.33% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }

  91.67% {
    left: calc(1 * var(--offset));
    top: calc(0 * var(--offset));
  }

  100% {
    left: calc(0 * var(--offset));
    top: calc(0 * var(--offset));
  }
}

@keyframes square3 {

  0%,
  100% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }

  16.67% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }

  25.00% {
    left: calc(1 * var(--offset));
    top: calc(0 * var(--offset));
  }

  33.33% {
    left: calc(2 * var(--offset));
    top: calc(0 * var(--offset));
  }

  41.67% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  66.67% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  75.00% {
    left: calc(2 * var(--offset));
    top: calc(2 * var(--offset));
  }

  83.33% {
    left: calc(1 * var(--offset));
    top: calc(2 * var(--offset));
  }

  91.67% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }
}

@keyframes square4 {
  0% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  33.33% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  41.67% {
    left: calc(2 * var(--offset));
    top: calc(2 * var(--offset));
  }

  50.00% {
    left: calc(3 * var(--offset));
    top: calc(2 * var(--offset));
  }

  58.33% {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
  }

  100% {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
  }
}

@keyframes square5 {
  0% {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
  }

  50.00% {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
  }

  58.33% {
    left: calc(3 * var(--offset));
    top: calc(0 * var(--offset));
  }

  66.67% {
    left: calc(2 * var(--offset));
    top: calc(0 * var(--offset));
  }

  75.00% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  100% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }
}

@keyframes squarefadein {
  0% {
    transform: scale(0.75);
    opacity: 0.0;
  }

  100% {
    transform: scale(1.0);
    opacity: 1.0;
  }
}

/* Footer */
.wave-ctn {
  position: relative;
  overflow: hidden;
  height: 220px;
}

.wave-ctn>svg {
  display: block;
  /* stroke: rgb(9, 255, 0); */
}

.footer-ctn {
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  position: absolute;
  text-align: center;
  /* border: 1px dotted black; */
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.footer-inform {
  display: flex;
  justify-content: space-around;
  padding-top: 8px;
  height: 40px;
}
